body{
    background-color: #283149;
    text-align: center;
}

h1{
    font-size: 5rem;
    color:aliceblue;
    font-family: "Arvo",cursive;
    text-shadow: 3px;
    margin-top: 10%;

}

.pressed{
    box-shadow: 0 3px 4px 0;
    opacity: 0.5;
}

button{
    color: #DA0463;
    display: inline-block;
    background-color: white;
    font-family: 'Arvo',cursive;
    font-weight: 900;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 5rem;
    border: 10px solid #404B69;
    margin: 10px;;

}